// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.ios';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on iOS here
ActionBar .fa {
    padding: 40px 40px 40px 0;
}
#long-action-bar {
    height: 40%; // background-image: url('res://background');
    background-size: cover;
    border-bottom-color: $accent;
    border-bottom-width: 5;
}


TextField{
    border-bottom-width: 2;
    margin-bottom: 40;
    border-bottom-color: $accent;
    height: 30;
}
.bw-btn {
    color: #fff;
    border-color: transparent;
    border-width: 1;
    font-size: 14;
    padding: 17;
}
